.hero-image{
  animation: hero-image 4s infinite;
}

@keyframes hero-image  {
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(25px);
  }
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F7F8;
    padding-left:60px ;
    padding-right: 60px;

}
button{
     color: 
rgb(63, 80, 97);
font-family: 'Poppins', sans-serif;
   
}
.btn3{
    background-color: #0089FF;
    padding: 15px 25px;
    border-radius: 30px;
    color: white;
}
.hero-text{
    h1{
        font-size: 46px;
        width: 70%;
        color: #122231;
        line-height: 1.2;
        margin-top: 20px;
    }
    p{
        font-size: 20px;
        width: 60%;
        line-height: 1.5;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.btn4 , .btn5{
    background-color: #122231;
    color: white;
    padding: 15px 25px;
    margin-right: 20px;
    border-radius: 10px;
}

@media only screen and (max-width:768px) {
  .hero-container{
    flex-direction: column;
    margin: 0;
    padding: 20px;
    text-align: center;
    h1{
      width: 100%;
    }
    p{
      width: 100%;
    }
  }
 

}


